If:
    PathMatch: .*

CompileFlags:
    Add:
        - -Wall
        - -xc++
        - -std=c++17
        - --target=x86_64-linux-gnu
        - --include-directory=./obj_dir/
        - --include-directory=../../obj_dir/ # NOTE: Relative path from core/src/tb_verilator.cpp
        - --include-directory=/usr/include/c++/11
        - --include-directory=/usr/include/x86_64-linux-gnu/c++/11
        - --include-directory=/opt/verilator/include/
        - --include-directory=/opt/verilator/include/vltstd/

    Compiler: g++
